body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    background-color: #ff6666;
    color: white;
    width: 88%;
    margin: 0;
    height: auto;
    padding-top: 15px;
    list-style-position: inside;
    padding-bottom: 15px;
}

li {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 45px;
    padding-left: 10px;
    background-color: #cc0000;
    width: 95%;
}

span {
    background-color: #800000;
    margin-left: 5px;
    display:inline-flex;
    height: 45px;
    align-items: center;
    vertical-align: middle;
    padding-left: 2%;
    padding-right: 2%;
}
